<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div>
        {% if user.is_authenticated %}
        <strong>Bienvenido, {{ user.username }}!</strong>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Iniciar Sesión</a>
        <a href="{% url 'signup' %}">Registrarse</a>
        {% endif %}
    </div>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
    {% endblock %}
</body>

</html>